@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*font-family: 'Inter',  Arial;*/

@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap'); 
/*font-family: 'Carrois Gothic', Arial;*/

*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ancora_nav_logo{
    text-decoration: none;
}

/*padrao*/
nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2.5px 15px rgba(0, 0, 0, 0.192);
    justify-content: space-between;
    z-index: 1;
    
}

.btn_deslogar{
    height: 37px;
    width: 107px;
    border-radius: 7px ;
    border:solid 3px #36AB96;
    background-color: white;
    color:#063F35 ;
    font-size: 18px;
    font-weight: 600;
    margin:0px 10px ;
    text-decoration: none;
    cursor: pointer;
}

.logo_nav{
    width: 100px;
}

.btn_deslogar:hover{
    color:#0B5A4C ;
}

.btn_deslogar:active{
    background-color: #36AB96;
    color:#fff ;
    height: 36px;
    width: 106px;
}

.ajuda_icon{
    
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

#aux14{
    margin-top: 0.3% ;
    display: flex;
}



/*rodape inicio*/


footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 37px;
    background-color: #7AE5D2;
    background-image: linear-gradient(#51cfb8 10%, #7AE5D2); 
}

#logo_rodape{
    width: 35px;
    height: 35px;
    margin: 2px 0 0 17px;
}

#linha_rodape{
    display: block;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: white;    
}

#redes_socias_rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin: 0 1%;
}

#redes_socias_rodape img{
    width: 28px;
    height: 28px;
}

/*rodape fim*/

/*qualquer*/
#qualquer{
    height: 900px;
}

/*pag ajuda inicio*/

#titulo_ajuda{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    color: #36AB96;
    margin: 60px 0 50px 0;
}

#aviso_ajuda{
    
    margin: 5px auto;
    width: 60%;
    height: 42%;
    border: solid 4px red;
    border-radius: 10px;
    display: flex;
}

#msg_aviso_ajuda{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Inter',  Arial;
    margin-left: 20px;
    margin-top: 20px;
}

#img_aviso{
    margin: auto 40px;
}

.titulo_faq{
    margin: 50px 0;
    font-size: 30px;
    color: #063F35;
    text-align: center;
    font-family: 'Inter',  Arial;
}

.faq{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.accordion {
    background-color: #FFAB08;
    color: #fff;
    cursor: pointer;
    padding: 37px;
    width: 65%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
    font-size: 21px;
}

.active, .accordion:hover {
    background-color: #DB9103;
}

.panel {
    padding: 20px 18px;
    width: 63.1%;
    background-color: #FFF1D7;
    display: none;
    overflow: hidden;
    color: #063F35;
    font-family: 'Inter',  Arial;
}

#form_ajuda{
    border-radius: 15px;
    background-color: #7DDDCC;
    width: 40%;
    height: 600px;
    margin: 50px auto;
}

#titulo_form{
    font-size: 27px;
    font-family: 'Inter',  Arial;
    text-align: center;
    color: #fff;
}

#caixa_perguntas{
    margin: 30px auto;
    background-color: #fff;
    width: 80%;
    border-radius: 15px;

}

.label{
    margin: 0 0 0 60px;
    color:#063F35;
    font-size: 24px;
    font-family: 'Inter',  Arial;
}

.campos_form_ajuada{
    
    margin: 10px 0 10px 55px;
    width: 80%;
    height: 26px;
    color: #063F35;
    text-align: initial;
    font-family: 'Inter',  Arial;
    font-size: 23;
    border-radius: 15px;
    border:solid 2px #08462833;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
}

#comentario_cliente{
    margin: 10px 0 10px 55px;
    width: 80%;
    height: 130px;
    color: #063F35;
    text-align: initial;
    font-family: 'Inter',  Arial;
    font-size: 23;
    border-radius: 15px;
    border:solid 2px #08462833;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.152);

}

.btn_form_ajuda{
    margin: 30px 38%;
    width: 120px;
    height: 40px;
    background-color: #36AB96;
    color: #fff;
    border: solid 2px #117D6A;
    font-size: 25px;
    font-family: 'Inter',  Arial;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

.btn_form_ajuda:hover{
    background-color: #4ABEA9;
}

.btn_form_ajuda:active{
    background-color: #6FCCBB;
    font-size: 26px;
}

/*pag ajuda fim*/

/*geral inicio*/


.contaner_titulo_index{
    width: 100%;
    display: flex;
    color: #117D6A;
}


.titulo_pagina_adm{
    font-size: 40px;
    font-family: 'Inter',  Arial;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    color: #117D6A;
}

.titulo_pagina_enf{
    font-size: 40px;
    font-family: 'Inter',  Arial;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    color: #4ABEA9;
}

.titulo_pagina_gest{
    font-size: 40px;
    font-family: 'Inter',  Arial;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    color: #FFAB08;
}

.btn_voltar_adm{
    background-color: #063F35;
    border: solid 1px #063F35;
    width: 41px;
    height: 41px;
    margin: 15px 0 0 90px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn_voltar_adm:active{
    width: 43px;
    height: 43px;
    background-color: #0B5A4C;
    border: solid 1px #0B5A4C;
}

.btn_voltar_gest{
    background-color: #FFAB08;
    border: solid 1px #FFAB08;
    width: 41px;
    height: 41px;
    margin: 15px 0 0 90px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn_voltar_gest:active{
    background-color: #ffb41e;
    border: solid 1px #ffb41e;
    width: 43px;
    height: 43px;
}

.btn_voltar_enf{
    background-color: #4ABEA9;
    border: solid 1px #4ABEA9;
    width: 41px;
    height: 41px;
    margin: 15px 0 0 90px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn_voltar_enf:active{
    background-color: #6FCCBB;
    border: solid 1px #6FCCBB;
    width: 43px;
    height: 43px;
}

.img_btn_voltar{
    width: 30px;
    height: 30px;
}

/*geral fim*/