@model AddArea.Models.Especialidades;

@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Area</title>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/add_area.css">
</head>
<style>

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
<body>

    <nav>
        logo <img src="" alt="">
        <button class="btn_deslogar">Deslogar</button>
        ? <img src="" alt="">
    </nav><br>



    <br><br>
    <div class="contaner_titulo_index">
        <a href="#">
            <button class="btn_voltar_adm">
                <img src="img/voltar.png" alt="" class="img_btn_voltar">
            </button>
        </a>
    </div>
    <h1 class="titulo_pagina_adm">Adicionar Área</h1>



    <div id="container_addAreas">
        <div class="registro_areas_existentes">
            <h2 id="titulo_areas_add">Áreas já existentes</h2>
            <hr id="linha_add_area">
            <!--<div id="area_preenchida">
                <p class="areas_adicionadas"></p>

                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
                <p class="areas_adicionadas">Cardiopatia</p>
            </div>-->

            <div id="area_vazio">
                <img src="img/triste.png" alt="">
                <p id="texto_vazio">Nenhuma <br> área <br> existente</p>
            </div>


        </div>
        <form method="post" asp-action="Index">
            <div class="add_area">
                <label for="" class="label_add_area">Digite uma nova área:</label>
                <input type="text" name="nomearea" id="nomearea" class="input_add_area">
                <label for="" class="label_add_area">CPF do gestor:</label>
                <input type="text" name="cpfgestor" id="cpfgestor" class="input_add_area">

                <button id="btn_add_area" type="submit">Adicionar nova área</button>

            </div>
        </form>
    </div>



    <footer>
        <img src="img/cartaicon.png" id="logo_rodape" alt="">
        <div id="redes_socias_rodape">
            <span id="linha_rodape"></span>
            <img src="img/whatsicon.png" alt="">
            <img src="img/instaicon.png" alt="">
            <img src="img/cartaicon.png" alt="">
        </div>
    </footer>

</body>
</html>