@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    Usuarios u = JsonConvert.DeserializeObject<Usuarios>(Context.Session.GetString("usuarios"));
}    

    <link rel="stylesheet" href="~/css/homes.css"> 

<div class="container_home">
        <br><br><br>
        <div class="container_area_de_trabalho">          
            <p id="area_trab_gest">Área de trabalho:@u.Id_Area</p>
        </div>

        <div class="container_home_btn">
           <a href="ver_plantao_gest.html"> <button class="btn_acoens_home_gest"><img src="~/img/calendario_gest.png" class="img_btn_home_enf" alt=""> <p class="texto_btn_gest">Ver plantão</p></button></a>
           <a asp-controller="Cronograma" asp-action="Cadastrar"><button class="btn_acoens_home_gest"><img src="~/img/Historico_gest.png" class="img_btn_home_enf" alt=""> <p class="texto_btn_gest">Add cronograma</p></button></a>
        </div>

        <div class="container_home_btn">
            <a href="cadastro_gest.html"> <button class="btn_acoens_home_gest"><img src="~/img/gest_add.png" class="img_btn_home_enf" alt=""> <p class="texto_btn_gest">Adicionar enfermeiro</p></button></a>
            <a href="solicitacoes.html"> <button class="btn_acoens_home_gest"><img src="~/img/permissao.png" class="img_btn_home_enf" alt=""> <p class="texto_btn_gest">Solicitações</p></button></a>
        </div>
    </div>

    <p id="nome_rodape_gest">nome completo</p>