@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    Usuarios u = JsonConvert.DeserializeObject<Usuarios>(Context.Session.GetString("usuarios"));
}

<link rel="stylesheet" href="~/css/homes.css">





<div class="container_home">
    <br><br><br><p id="area_trab_adm">Área de trabalho:@u.Id_Area</p>

    <div class="container_home_btn">
        <a asp-controller="Usuarios" asp-action="Plantao"><button class="btn_acoens_home_adm" <img src="~/img/calendario_adm.png" class="img_btn_home_enf" alt=""> <p class="texto_btn_adm">Ver Plantão</p></button></a>
        

    </div>

  

</div>


<p id="nome_rodape">@u.Nome</p>

