@model Nurzed.Models.Usuarios

@{
    ViewData["Title"] = "Login";
}

<partial name="_Toast" />

    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<body>

    <div class="header">
        <h1>Nurzed</h1>  
        <img src="img/Screenshot_1.png.jpg" alt="">                 
    </div>



    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary"></h2>
                <p class="description description-primary"></p>
                <p class="description description-primary"></p>
                
            </div>    
            <div class="second-column">
                <h2 class="title title-second">Entrar no sistema</h2>
               
                <p class="description description-second"></p>
                <form asp-action="Login" class="form">
                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify"></i>
                        <input type="text" name="cpf" placeholder="CPF">
                    </label>
                    
                  
                    
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" name="senha" placeholder="Senha">
                    </label>                    
                
                   
                    <p>@TempData["msg"]</p>

                    <button type="submit" class="btn btn-second">sign up</button>      
                </form>
            </div>
        </div>
 

 

        
    </div>

</body>
</html>
