
<link rel="stylesheet" href="~/css/verplantao.css">

    <div class="contaner_titulo_index">
        <a asp-action="Voltar" >
            <button  class="btn_voltar_adm">
                 <img src="~/img/voltar.png" alt="" class="img_btn_voltar">
             </button>
         </a>
    </div>
    <h1 class="titulo_pagina_adm">Ver Plantão</h1>


    <div class="aux7">
        <a asp-action="Cadastrar" asp-controller="Cronograma">
            <button  class="btn_add_cronograma">Add cronograma</button>
        </a>
    </div>

    <div class="aux7">
       <a href="cronograma_adm.html">
         <a asp-action="Editar"><button class="btn_edita_calen"><img src="~/img/editar_calendario.png" class="img_edit_calendario" alt=""></a>
        </button>
        </a>
    </div>

    <h2 class="nome_do_mes_adm">AGOSTO</h2>

    <div class="setas">
        <img src="~/img/seta_adm.png" alt="" id="seta_esquerda">
        <img src="~/img/seta_adm.png" alt="" id="seta_direita">
    </div>


    <div class="container_calendario_adm">
       <br>
        <div class="continer_semana_adm">
            <p class="dias_da_semana">Domingo</p>
            <p class="dias_da_semana">Segunda</p>
            <p class="dias_da_semana">Terça</p>
            <p class="dias_da_semana">Quarta</p>
            <p class="dias_da_semana">Quinta</p>
            <p class="dias_da_semana">Sexta</p>
            <p class="dias_da_semana">Sábado</p>
        </div>

        <div class="conteiner_dias_adm">
            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">2</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">3</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">1</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">4</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">5</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">6</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">7</p>
            </a>

        </div>

        <div class="conteiner_dias_adm">
            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">2</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">3</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">1</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">4</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">5</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">6</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">7</p>
            </a>

        </div>

        <div class="conteiner_dias_adm">
            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">2</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">3</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">1</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">4</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">5</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">6</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">7</p>
            </a>

        </div>

        <div class="conteiner_dias_adm">
            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">2</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">3</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">1</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">4</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">5</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">6</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">7</p>
            </a>

        </div>

        <div class="conteiner_dias_adm">
            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">2</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">3</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">1</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">4</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">5</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">6</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">7</p>
            </a>

        </div>

        <div class="conteiner_dias_adm">
            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">2</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">3</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">1</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">4</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">5</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">6</p>
            </a>

            <a href="periodo_adm.html" class="aux24">
                <p class="dias_adm">7</p>
            </a>

        </div>
        

       

        <br>
    </div>



    <div class="aux7">
        <button class="btn_Imprimir_adm">Imprimir</button>
    </div><br>



